@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../../public/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../../public/Lato-Bold.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(20, 184, 166);

}
